@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	padding: 0 10px;
	min-height: 100vh;
	align-items: center;
	background: #3498db;
	justify-content: center;
}

.wrapper {
	height: 265px;
	max-width: 410px;
	background: #fff;
	border-radius: 7px;
	padding: 20px 25px 0;
	transition: height 0.2s ease;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

header h1 {
	font-size: 21px;
	font-weight: 500;
}

header p {
	margin-top: 5px;
	color: #474747;
	font-size: 16px;
}

.wrapper .form {
	margin: 20px 0 25px;
}

.form :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form input {
    border: 1px solid #999;
    font-size: 18px;
    padding: 0 17px;
}

.form input:focus {
    border: 1px solid #3498db;
}

.form button {
    background: #3498db;
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease;
}

.form button:hover {
    background: #2980b9;
    scale: 1.02;
}

.wrapper .qr-code {
	display: flex;
	border-radius: 5px;
    border: 1px solid #ccc;
    padding: 33px 0;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
}